@model dynamic
@{
    ViewData["Title"] = "Index Orders";
}

<form method="post" action="bDelete">
    <table class="table table--bottom-margin">
        <thead>
            <tr>
                <th class="col-lg-1 text-center align-middle">
                    Admin operatie
                </th>
                <th class="col-lg-1 text-center align-middle">
                    ID
                </th>
                <th class="col-lg-1 text-center align-middle">
                    Tijdstip
                </th>
                <th class="col-lg-2 align-middle">
                    Klant
                </th>
                <th class="col-lg-1 text-center align-middle">
                    Prijs bestelling
                </th>
                <th class="col-lg-6 text-center align-middle">
                    Details bestelling
                </th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.Orders.Count; i++)
            {
                <tr>
                    <td class="col-lg-1 text-center align-middle">
                        <input type="checkbox" name="selectedOrders" value="@Model.Orders[i].OrderId">
                    </td>
                    <td class="col-lg-1 text-center align-middle">
                        @Model.Orders[i].OrderId
                    </td>
                    <td class="col-lg-1 text-center align-middle">
                        @Model.Orders[i].OrderPlaced
                    </td>
                    <td class="col-lg-2 align-middle">
                        @Model.Orders[i].Username
                    </td>
                    <td class="col-lg-1 text-center align-middle">
                        € @Model.Orders[i].OrderTotal
                    </td>
                    <td class="col-lg-6">
                        <table>
                            <tr>
                                <th class="col-lg-1 text-center">
                                    Aantal
                                </th>
                                <th class="col-lg-4">
                                    Product
                                </th>
                                <th class="col-lg-1 text-center">
                                    Prijs/stuk
                                </th>
                            </tr>

                            @foreach (var detail in Model.Orders[i].OrderDetailViewModels)
                            {
                                <tr>
                                    <td class="col-lg-1 text-center">
                                        @detail.Quantity
                                    </td>
                                    <td class="col-lg-4">
                                        @detail.Productname
                                    </td>
                                    <td class="col-lg-1 text-center">
                                        € @detail.Price
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="align-items-end">
        <button type="submit" class="btn btn-danger">Verwijderen</button>
    </div>

</form>

<br />
<br />
<h1>Overzicht</h1>
<table>
    <thead>
        <tr>
            <th class="align-middle">Product</th>
            <th class="text-center align-middle">Aantal</th>
        </tr>
    </thead>
    @{
        decimal total = 0;
    }
    <tbody>
        @for (var i = 0; i < Model.Details.Count; i++)
        {
            
            <tr>
                <td class="align-middle">
                    @{
                        total += Model.Details[i].Quantity * Model.Details[i].Price;
                    }
                    @Model.Details[i].Productname
                </td>
                <td class="text-center align-middle">
                    
                    @Model.Details[i].Quantity
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
                <b>TOTAALPRIJS: </b>€ @total
            </td>
        </tr>
    </tfoot>

</table>
