@model dynamic
@{
    ViewData["Title"] = "Index Orders";
}

<table class="table table--bottom-margin">
    <thead>
        <tr>
            <th class="col-lg-1 text-center">
                ID
            </th>
            <th class="col-lg-2 text-center">
                Tijdstip
            </th>
            <th class="col-lg-3">
                Klant
            </th>
            <th class="col-lg-4">
                Details bestelling
            </th>
            <th class="col-lg-2">
                Bestelling bewerken
            </th>
        </tr>
    </thead>

    <tbody>
        @for (var i = 0; i < Model.Orders.Count; i++)
        {
            <tr>
                <td class="col-lg-1 text-center">
                    @Model.Orders[i].Id
                </td>
                <td class="col-lg-2 text-center">
                    @Model.Orders[i].OrderPlaced
                </td>
                <td class="col-lg-3">
                    @Model.Orders[i].User.FirstName @Model.Orders[i].User.LastName
                </td>
                <td class="col-lg-4">
                    <table>
                        <tr>
                            <th class="col-lg-1 text-center">
                                Aantal
                            </th>
                            <th class="col-lg-3">
                                Product
                            </th>
                        </tr>
                        @foreach (var detail in Model.OrderDetails)
                        {
                            @if (detail.OrderId == Model.Orders[i].Id)
                            {
                                <tr>
                                    <td class="col-lg-1 text-center">
                                        @detail.Quantity
                                    </td>
                                    <td class="col-lg-3">
                                        @Model.ProductNames[detail.ProductId]
                                    </td>
                                </tr>
                            }
                        }                
                    </table>
                </td>
                <td class="col-lg-2">
                    <form method="post" action="bDelete">
                        <input type="hidden" name="id" value="@Model.Orders[i].Id">
                        <button type="submit" class="btn btn-link">Verwijderen</button>
                    </form>
                </td>
            </tr>
        }
</table>
