@model List<EggSplorer.Models.Users>
@{
    ViewData["Title"] = "gIndex";
}

<a href="@Url.Action("gCreate")" class="btn btn-success">Maak aan</a>
<br>

<table class="table table--bottom-margin">
    <thead>
        <tr>
            <th class="col-lg-1 text-center">
                ID
            </th>
            <th class="col-lg-1 text-center">
                Voornaam
            </th>
            <th class="col-lg-1 text-center">
                Achternaam
            </th>
            <th class="col-lg-4 text-center">
				Email
            </th>
            <th class="col-lg-4 text-center">
                Telefoonnummer
            </th>
            <th class="col-lg-1 text-center">
                Paswoord
            </th>
            <th class="col-lg-1 text-center">
                Admin?
            </th>
            <th class="col-lg-1 text-center">
                Goedgekeurd?
            </th>
            <th class="col-lg-1 text-center">
                Bewerken
            </th>
            <th class="col-lg-1 text-center">
                Verwijderen
            </th>

        </tr>
    </thead>

    <tbody>
        @for (var i = 1; i < (Model.Count); i++)
        {
                <tr>
                    <td class="col-lg-2 text-center">
                            @Model[i].ID
                    </td>
                    <td class="col-lg-2 text-center">
                            @Model[i].FirstName
                    </td>
                    <td class="col-lg-4 text-center">
                            @Model[i].LastName
                    </td>
                    <td class="col-lg-4 text-center">
                            @Model[i].Email
                    </td>
                    <td class="col-lg-4 text-center">
                            @Model[i].PhoneNumber
                    </td>
                    <td class="col-lg-1 text-center">
                            @Model[i].Password
                    </td>
                    <td class="col-lg-1 text-center">
                            @Model[i].IsAdmin
                    </td>
                    <td class="col-lg-1 text-center">
                            @Model[i].IsApproved
                    </td>
                    <td class="col-lg-1">
                        <form method="post" action="gEdit">
                            <input type="hidden" name="id" value="@Model[i].ID">
                            <button type="submit" class="btn btn-success">Edit</button>
                        </form>
                    </td>
                    <td class="col-lg-1">
                        <form method="post" action="gDelete">
                            <input type="hidden" name="id" value="@Model[i].ID">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
        }
    </tbody>
</table>
