@model List<Products>

<form id="delete" method="post" action="pDeletecomplete"></form>

<h5 class="text-center m-2 p-2">Ben je zeker dat je dit product wil verwijderen?</h5>
<div>
    <table class="table table--bottom-margin">
        <thead>
            <tr>
                <th class="col-lg-1 text-center align-middle">
                    ID
                </th>
                <th class="col-lg-3 align-middle">
                    Naam
                </th>
                <th class="col-lg-6 align-middle">
                    Beschrijving
                </th>
                <th class="col-lg-2 text-center align-middle">
                    Prijs
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td class="col-lg-1 text-center align-middle">
                        <input form="delete" type="hidden" name="deleteus" value="@Model[i].Id" />
                        @Model[i].Id
                    </td>
                    <td class="col-lg-3 align-middle">
                        @Model[i].Name
                    </td>
                    <td class="col-lg-6 align-middle">
                        @Model[i].Description
                    </td>
                    <td class="col-lg-2 text-center align-middle">
                        € @Model[i].ProductPrice
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <input form="delete" type="submit" value="Verwijderen" class="btn btn-danger" />
    <a href="@Url.Action("pIndex")" class="btn btn-secondary">Ga terug</a>
</div>
