@model List<EggSplorer.Models.Products>
@{
    ViewData["Title"] = "Index Products";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Producten index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>
    <h5 class="text-center m-2 p-2">Overzicht producten</h5>

    <form id="deleteform" method="post" action="pDelete"></form>

    <a href="@Url.Action("pCreate")" class="btn btn-success">Maak aan</a>
    <br />

    <table class="table table--bottom-margin">
        <thead>
            <tr>
                <th class="col-lg-1 text-center align-middle">
                    Verwijderen
                </th>
                <th class="col-lg-1 text-center align-middle">
                    Bewerken
                </th>
                <th class="col-lg-1 text-center align-middle">
                    ID
                </th>
                <th class="col-lg-2 text-center align-middle">
                    Foto
                </th>
                <th class="col-lg-2 align-middle">
                    Naam
                </th>
                <th class="col-lg-4 align-middle">
                    Beschrijving
                </th>
                <th class="col-lg-1 text-center align-middle">
                    Prijs
                </th>    
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td class="col-lg-1 text-center align-middle">
                        <input form="deleteform" type="checkbox" name="selectedProducts" value="@Model[i].Id">
                    </td>
                    <td class="col-lg-1 text-center align-middle">
                        <form method="post" action="pEdit">
                            <input type="hidden" name="id" value="@Model[i].Id">
                            <button type="submit" class="btn btn-primary">Bewerken</button>
                        </form>
                    </td>
                    <td class="col-lg-1 text-center align-middle">
                        @Model[i].Id
                    </td>
                    <td class="col-lg-2 text-center align-middle">
                        @{
                            var img = Model[i].Id.ToString() + ".jpg";
                        }
                        <img class="img-fluid" src="~/images/@img" style="height:100px; object-fit:cover">
                    </td>
                    <td class="col-lg-2 align-middle">
                        @Model[i].Name
                    </td>
                    <td class="col-lg-4 align-middle">
                        @Model[i].Description
                    </td>
                    <td class="col-lg-1 text-center align-middle">
                        € @Model[i].ProductPrice
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="align-items-end">
        <button form="deleteform" type="submit" class="btn btn-danger">Verwijderen</button>
    </div>
</body>
</html>