@model dynamic
@{
    ViewData["Title"] = "Winkelmandje";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Winkelmandje</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <form action="Bestel/Thankyou" method="post">
        <table class="table table--bottom-margin">
            <thead>
                <tr>
                    <th class="col-lg-1">
                        Foto
                    </th>
                    <th class="col-lg-2">
                        Naam
                    </th>
                    <th class="col-lg-1">
                        Aantal
                    </th>
                    <th class="col-lg-1">
                        Prijs per stuk
                    </th>
                    <th class="col-lg-1">
                        Samengestelde Prijs
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ decimal total = 0; }
                @for (var i = 0; i < Model.Details.Count; i++)
                {
                    @if (Model.Details[i].Quantity != 0)
                    {
                        var product = Model.Products[0];
                        foreach(var item in Model.Products)
                        {
                            if (item.Id == Model.Details[i].ProductId)
                            {
                                product = item;
                            }
                        }
                        <tr>
                            <td class="col-lg-1 text-center">
                                @{
                                    var img = product.Id.ToString() + ".jpg";
                                }
                                <img class="img-fluid" src="~/images/@img" style="height:100px; object-fit:cover">
                            </td>
                            <td class="col-lg-2">
                                @product.Name
                            </td>
                            <td class="col-lg-1">
                                @Model.Details[i].Quantity
                            </td>
                            <td class="col-lg-1">
                                @Model.Products[i].ProductPrice
                            </td>
                            @{
                                var combined = product.ProductPrice * Model.Details[i].Quantity;
                                total += combined;
                            }
                            <td class="col-lg-1">
                                € @combined
                            </td>
                            <div class="my-form-group form-group">
                                <input type="hidden" name="info[@i].ProductId" value="@Model.Details[i].ProductId">
                                <input type="hidden" name="info[@i].Quantity" value="@Model.Details[i].Quantity">
                            </div>
                        </tr>
                    }
                }
                <tr>
                    <td class="col-lg-1"></td>
                    <td class="col-lg-2"></td>
                    <td class="col-lg-1"></td>
                    <td class="col-lg-1">
                        <b>Total:</b> € @total
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="my-form-group form-group">
            <button type="submit" class="submit-button">
                <span class="material-icons">shopping_cart</span>
            </button>
        </div>
    </form>
</body>
</html>