@model List<EggSplorer.Models.Products>
@{
    ViewData["Title"] = "Producten";
}

<div class="container" style="margin-bottom: 10px">

    <table class="table table--bottom-margin">
        <thead>
            <tr>
                <th class="col-lg-3 text-center">
                    Foto
                </th>
                <th class="col-lg-2">
                    <a asp-action="Producten" asp-route-sortOrder="@ViewData["NameSortParm"]">
                        Naam
                    </a>
                </th>
                <th class="col-lg-5">
                    Beschrijving
                </th>
                <th class="col-lg-1">
                    <a asp-action="Producten" asp-route-sortOrder="@ViewData["PriceSortParm"]">
                        Prijs
                    </a>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-lg-3 text-center">
                        @{var img = item.Id.ToString() + ".jpg";}
                        <img class="img-fluid" src="~/images/@img" style="height:100px; object-fit:cover">
                    </td>                    
                    <td class="col-lg-2">
                        @item.Name
                    </td>
                    <td class="col-lg-5">
                        @item.Description
                    </td>
                    <td class="col-lg-1">
                        € @item.ProductPrice
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>