@model List<EggSplorer.Models.Products>
@{
    ViewData["Title"] = "Producten";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>
    <table class="table table--bottom-margin">
        <thead>
            <tr>
                <th class="col-lg-3 text-center">
                    Foto
                </th>
                <th class="col-lg-2">
                    <a asp-action="Producten" asp-route-sortOrder="@ViewData["NameSortParm"]">
                        Naam
                    </a>
                </th>
                <th class="col-lg-5">
                    Beschrijving
                </th>
                <th class="col-lg-1">
                    <a asp-action="Producten" asp-route-sortOrder="@ViewData["PriceSortParm"]">
                        Prijs
                    </a>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-lg-3 text-center">
                        @{var img = item.Id.ToString() + ".jpg";}
                        <img class="img-fluid" src="~/images/@img" style="height:100px; object-fit:cover">
                    </td>                    
                    <td class="col-lg-2">
                        @item.Name
                    </td>
                    <td class="col-lg-5">
                        @item.Description
                    </td>
                    <td class="col-lg-1">
                        € @item.ProductPrice
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>