@model EggSplorer.Data.EggsplorerContext
@{Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th class="col-lg-2">
                    @Html.DisplayNameFor(model => model.Products.First().Name)
                </th>
                <th class="col-lg-4">
                    @Html.DisplayNameFor(model => model.Products.First().Description)
                </th>
                <th class="col-lg-2">
                    @Html.DisplayNameFor(model => model.Products.First().ProductPrice)
                </th>
                <th class="col-lg-4 text-center">
                    Image
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td class="col-lg-2">
                        @item.Name
                    </td>
                    <td class="col-lg-4">
                        @item.Description
                    </td>
                    <td class="col-lg-2">
                        € @item.ProductPrice
                    </td>
                    <td class="col-lg-4 text-center">
                        @{var img = item.Id.ToString() + ".jpg";}
                        <img class="img-fluid" src="~/images/@img" style="height:100px; object-fit:cover">
                    </td>
                </tr>

            }
        </tbody>
    </table>
    
</body>
</html>